  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="bang-table">
        <p><i class="fa fa-circle header-icon3" aria-hidden="true"></i><i class="fa fa-circle header-icon2" aria-hidden="true"></i><i class="fa fa-circle header-icon1" aria-hidden="true"></i>Bang The Table</p>
      </div>
      <div class="subscribe">
        <input type="text" placeholder="Subscribe to the newsletter"/>
        <div class="logo">
          <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
        </div>
      </div>
   </nav>
  </header>


  <section class="main-section">
    <div class="container">
      <div class="row">
         <div class="container">
           <div class="card">
            <div class="item1">
              <img src="./images/first.jpg" alt="office hours">
              <div class="heading">
                <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon1" aria-hidden="true"></i>Library Update</p>
                <div class="main-heading">
                  <h2>Leveraging Social Proof for Growth</h2>
                  <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language. Through trial and error the team at Duolingo has mastered the art of data driven product development through AB testing and focus on the right metrics to optimize. Driven product development through AB testing and a focus on the right metrics to optimize.</p>
                </div>
                <div class="user">
                  <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                  <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>Today</p> 
                </div>
              </div>
            </div>
            <div class="item2">
              <img src="./images/second.jpg" alt="library update">
            <div class="heading">
              <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon2" aria-hidden="true"></i>Library Update</p>
              <div class="main-heading">
                <h2>Leveraging Social Proof for Growth</h2>
                <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language...</p>
              </div>
              <div class="user">
                <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</p> 
              </div>
            </div>
            </div>
            <div class="item3">
              <img src="./images/third.png" alt="office team">
              <div class="heading">
                <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon3" aria-hidden="true"></i>Library Update</p>
                <div class="main-heading">
                  <h2>Leveraging Social Proof for Growth</h2>
                  <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language...</p>
                </div>
                <div class="user">
                  <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                  <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</p> 
                </div>
              </div>
            </div>
            <div class="item4">
              <div class="dot-icons">
                <i class="fa fa-circle fa-3x fa-item4" aria-hidden="true"></i><i class="fa fa-circle fa-2x fa-item4" aria-hidden="true"></i><i class="fa fa-circle fa-item4" aria-hidden="true"></i>
              </div>
              <div class="mix-panel">
                <h2>It's time to get to know your users</h2>
                <button><a href="#">Try Mixpanel today</a></button>
              </div>

            </div>
            <div class="item5">
              <img src="./images/forth.jpg" alt="movie time">
              <div class="heading">
                <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon5" aria-hidden="true"></i>Library Update</p>
                <div class="main-heading">
                  <h2>Leveraging Social Proof for Growth</h2>
                  <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language...</p>
                </div>
                <div class="user">
                  <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                  <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</p> 
                </div>
              </div>
            </div>
            <div class="item6">
              <img src="./images/fifth.png" alt="office hours">
              <div class="heading">
                <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon6" aria-hidden="true"></i>Library Update</p>
                <div class="main-heading">
                  <h2>Leveraging Social Proof for Growth</h2>
                  <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language...</p>
                </div>
                <div class="user">
                  <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                  <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</p> 
                </div>
              </div>
            </div>
            <div class="item7">
              <img src="./images/third.png" alt="office hours">
              <div class="heading">
                <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon7" aria-hidden="true"></i>Library Update</p>
                <div class="main-heading">
                  <h2>Leveraging Social Proof for Growth</h2>
                  <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language...</p>
                </div>
                <div class="user">
                  <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                  <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</p> 
                </div>
              </div>
            </div>
            <div class="item8">
              <img src="./images/forth.jpg" alt="office hours">
              <div class="heading">
                <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon8" aria-hidden="true"></i>Library Update</p>
                <div class="main-heading">
                  <h2>Leveraging Social Proof for Growth</h2>
                  <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language...</p>
                </div>
                <div class="user">
                  <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                  <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</p> 
                </div>
              </div>
            </div>
            <div class="item9">
              <img src="./images/second.jpg" alt="office hours">
              <div class="heading">
                <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon9" aria-hidden="true"></i>Library Update</p>
                <div class="main-heading">
                  <h2>Leveraging Social Proof for Growth</h2>
                  <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language...</p>
                </div>
                <div class="user">
                  <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                  <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</p> 
                </div>
              </div>
            </div>
            <div class="item10">
              <img src="./images/first.jpg" alt="office hours">
              <div class="heading">
                <p class="heading-title"><i class="fa fa-circle-o circle-icon circle-icon10" aria-hidden="true"></i>Library Update</p>
                <div class="main-heading">
                  <h2>Leveraging Social Proof for Growth</h2>
                  <p>Duolingo removes language barriers by connecting people that need websites translated with students that are learning a language. Through trial and error the team at Duolingo has mastered the art of data driven product development through AB testing and focus on the right metrics to optimize. Driven product development through AB testing and a focus on the right metrics to optimize.</p>
                </div>
                <div class="user">
                  <p class="user-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Anna</p>
                  <p class="user-icon"><i class="fa fa-clock-o" aria-hidden="true"></i>Today</p> 
                </div>
              </div>
            </div>
           </div>
         </div>
      </div>
    </div>

  </section> 